{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} | Créer Lieu
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Nouveau Lieu</h2>
        <div class="profil">
            {{ form_start(lieuForm) }}
            {{ form_widget(lieuForm) }}
        </div>
        <br>
        <button type="submit" class="bouton">Enregistrer</button>
        <a href="{{ path('sortie_creer') }}"><button type="button" class="bouton">Annuler</button></a>
        {{ form_end(lieuForm) }}
    </div>

{% endblock %}