{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} | Mon Profil
{% endblock %}

{% block body %}
    <div class="profil">
        <h2>Mon Profil</h2>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <button type="submit">Enregistrer</button>
        <a href="{{ path('sortie_liste') }}"><button>Annuler</button></a>
        {{ form_end(profilForm) }}

    </div>

{% endblock %}