{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} | Mon Profil
{% endblock %}

{% block body %}
    <h2>Mon Profil</h2>
    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(profilForm) }}
    <a href="{{ path('sortie_liste') }}"><button>Annuler</button></a>
{% endblock %}