{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} | Mon Profil
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Mon Profil</h2>
        <div class="profil">
            {{ form_start(profilForm) }}
            {{ form_widget(profilForm) }}
            <br>
        </div>
        <button class="bouton" type="submit">Enregistrer</button>
        <a href="{{ path('sortie_liste') }}"><button class="bouton" type="button">Annuler</button></a>
        {{ form_end(profilForm) }}
    </div>
{% endblock %}