{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} | Annuler
{% endblock %}

{% block body %}
    <section class="annuler">
    <div >
        <h2>Annuler une sortie</h2>
    </div>
    <div>
        {{ form_start(annulerForm) }}
        <div> Nom de la sortie : {{ sortie.nom }}</div>
        <div> Date et heure de la sortie : {{ sortie.dateHeureDebut|date('d/m/Y H:i')}}</div>
        <div> Campus: {{ sortie.siteOrganisateur.nom }} </div>
        <div> Lieu : {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</div>

        {{ form_widget(annulerForm) }}


    </div>
        <a href="{{ path('sortie_liste') }}"><button id="btnCreer">Enregistrer</button></a>
        {{ form_end(annulerForm) }}
        <a href="{{ path('sortie_liste') }}"><button id="btnCreer">Annuler</button></a>
    </section>
    {{ form_end(annulerForm) }}

{% endblock %}



