{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h2>Filtrer les sorties</h2>

    {{ form_start(filtreForm) }}
    <div id="filtre">
        {{ form_row(filtreForm.campus) }}
        <br>
        {{ form_row(filtreForm.motCle) }}
        <br>
        {{ form_row(filtreForm.dateDebutRecherche) }}
        {{ form_row(filtreForm.dateFinRecherche) }}
        <br>
        {{ form_row(filtreForm.sortieOrganisateur) }}
        {{ form_row(filtreForm.sortieInscrit) }}
        {{ form_row(filtreForm.sortieNonInscrit) }}
        {{ form_row(filtreForm.sortiePassee) }}
        <br>
        <button type="submit" class="bouton">Rechercher</button>
    </div>
    {{ form_end(filtreForm) }}

    <table id="liste">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits / places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if app.user in sortie.participants %}
                            X
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('profil_detail', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                    </td>
                    <td>
                        <a href="{{ path('sortie_detail', {'id' : sortie.id }) }}">Afficher</a>

                        {% if (sortie.organisateur.pseudo == app.user.pseudo and sortie.etat.libelle == 'En création'  ) %}
                            <a href="{{ path('sortie_modifier', {'id' : sortie.id }) }}">Modifier</a>
                            <a href="{{ path('sortie_publier', {'id' : sortie.id }) }}">Publier</a>
                        {% endif %}
                        {%
                            if (sortie.organisateur.pseudo == app.user.pseudo
                            and sortie.etat.libelle != 'Annulée'
                            and sortie.etat.libelle != 'Activité en cours'
                            and sortie.etat.libelle != 'Passée')
                        %}
                            <a href="{{ path('sortie_annuler', {'id' : sortie.id }) }}">Annuler</a>
                        {% endif %}

                        {%
                            if app.user not in sortie.participants
                            and sortie.etat.libelle == 'Ouverte'
                            and sortie.participants.count < sortie.nbInscriptionsMax
                            and sortie.dateLimiteInscription > date('now')
                        %}
                            <a href="{{ path('sortie_inscription', {'id' : sortie.id }) }}">S'inscrire</a>
                        {% endif %}
                        {% if app.user in sortie.participants and sortie.etat.libelle != 'Activité en cours' %}
                            <a href="{{ path('sortie_desinscription', {'id' : sortie.id }) }}">Se désister</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('sortie_creer') }}"><button class="bouton" id="btnCreer">Créer une sortie</button></a>
{% endblock %}