{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <div id="infos">
        <h4>Date du jour : {{ "now"|date('d/m/Y') }}</h4>
       {% if app.user%}
        <h4>Participant : {{ app.user.prenom }} {{ app.user.nom|upper }}</h4>
        {% endif %}
    </div>

    <div id="filtre">
        <h2>Filtrer les sorties</h2>
        {{ form_start(filtreForm) }}
        {{ form_widget(filtreForm) }}
        <button type="submit">Rechercher</button>
        {{ form_end(filtreForm) }}

    </div>

    <table id="liste">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits / places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if true %}
                            X
                        {% endif %}
                    </td>
                    <td><a href="{{ path('profil_detail', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></td>
                    {# TODO : changer la route des liens Modifier et Annuler #}
                    <td>
                        {% if (sortie.organisateur.pseudo != app.user.pseudo) %}
                            <a href="{{ path('sortie_detail', {'id' : sortie.id }) }}">Afficher</a>
                        {% else %}
                            <a href="{{ path('sortie_liste', {'id' : sortie.id }) }}">Modifier</a>
                            <a href="{{ path('sortie_annuler', {'id' : sortie.id }) }}">Annuler</a>
                            <a href="{{ path('sortie_liste', {'id' : sortie.id }) }}">Publier</a>
                        {% endif %}

                        <a href="">S'inscrire</a>
                        <a href="">Se désister</a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('sortie_creer') }}"><button id="btnCreer">Créer une sortie</button></a>
{% endblock %}