{% extends 'base.html.twig' %}

{% block titre %} {{ parent()}} | Modifier une sortie {% endblock %}

{% block body %}
  <div class="containerModifier">
    <h2>Modifier une sortie</h2>

    {{ form_start(sortieForm) }}

        <div class="sortie_colonne">
            <div>{{ form_row(sortieForm.nom) }}</div>
            <div>{{ form_row(sortieForm.dateHeureDebut) }}</div>
            <div>{{ form_row(sortieForm.dateLimiteInscription) }}</div>
            <div>{{ form_row(sortieForm.nbInscriptionsMax) }}</div>
            <div class="duree">{{ form_row(sortieForm.duree) }}</div><div class="duree">minutes</div>
            <div>{{ form_row(sortieForm.infosSortie) }}</div>

            <div>Campus : {{ app.user.campus.nom }}</div>
            <div>{{ form_row(sortieForm.ville) }}</div>
            <div class="ajout">{{ form_row(sortieForm.lieu) }}</div>
            <div class="ajout"><a href="{{ path('lieu_creer') }}"><button type="button" id="btnAjoutLieu">+</button></a></div>
            <div>
                Rue :
                {% if sortie.lieu %}
                    {{ sortie.lieu.rue }}
                {% else %}
                {% endif %}
            </div>
            <div>
                Code postal :
                {% if sortie.lieu %}
                    {{ sortie.lieu.ville.codePostal }}
                {% else %}
                {% endif %}
            </div>
            <div>
                Latitude :
                {% if sortie.lieu %}
                    {{ sortie.lieu.latitude }}
                {% else %}
                {% endif %}
                <br>
                Longitude :
                {% if sortie.lieu %}
                    {{ sortie.lieu.longitude }}
                {% else %}
                {% endif %}
            </div>
        </div>
        <br>

    <div class="btnContainerModifier">
            {{ form_row(sortieForm.btnEnregistrer) }}
            {{ form_row(sortieForm.btnPublier) }}
            <a href="{{ path('sortie_supprimer', {'id' : sortie.id }) }}"><button class="bouton" type="button">Supprimer la sortie</button></a>
            <a href="{{ path('sortie_liste') }}"><button class="bouton" type="button" id="btnAnnuler">Annuler</button></a>
    </div>

    {{ form_end(sortieForm) }}
  </div>
{% endblock %}

