<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block titre %}Sortir{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="icon" href="{{ asset('img/sortir.png') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap">
</head>

<body>
    <header>
        <h1><a href="{{ path('sortie_liste') }}"><img src="{{ asset('img/sortir.png') }}" alt="Sortir" id="logo"></a></h1>
        {% include 'menu/nav.html.twig' %}
        <div id="infos">
            <h4>Date du jour : {{ "now"|date('d/m/Y') }}</h4>
            {% if app.user%}
                <h4>Participant : {{ app.user.prenom }} {{ app.user.nom|upper }}</h4>
            {% endif %}
        </div>
    </header>

    <div>
        {# Affichage des messages flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block body %}{% endblock %}

</body>
<footer>
    <div>&copy; Sortir {{ "now"|date('Y') }}</div>
</footer>
</html>